<br>
<table align="center" class="table" style="color: black;background-color:#073642;width: 35%;">
    <tr>
        <th style="color: white;font-size: large;font-weight: 400;">E Society Management System</th>
    </tr>
</table>
<br>
<form @fade [formGroup]="loginPage">
    <table align="center" class="table" style="color: black;background-color:#ffc107;width: 25%;">
        <tr>
            <th>Login</th>
        </tr>
    </table>
    <table align="center" border="2" class="table" style="width: 25%;">
        <tr>
            <th>Enter SMID</th>
            <td><input formControlName="SMID" type="text" /></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input formControlName="Password" type="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" (click)="login()" class="btn btn-success">Login</button></td>
        </tr>
    </table>
</form>
<div align="center" *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="align-items: center;">
    <strong>Login Failed!</strong> {{ErrorMessage}}
    <button @fade type="button" (click)="CloseAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>